* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

:root {
    --pcolor: #603BFE;
    --pcolor1: #7B2FF7;
    --hcolor: #9147FF;
    --dark: #1F1F1F;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-inline: 40px;
    padding-block: 6px;
    position: absolute;
    width: 100%;
}

.logoimage {
    display: flex;
    align-items: center;
    z-index: 2;
}

.logoimage img {
    width: 200px;
}

.navlinks {
    display: flex;
    align-items: center;
}

.menus {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menus li {
    list-style: none;
    transition: .4s ease;
}

.menus li a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    transition: .6s ease;
}

.menus li a:hover {
    color: var(--hcolor);
}

.menus li a span {
    margin-left: 5px;
    color: var(--hcolor);
    font-size: 20px;
}

.menus .active {
    color: var(--hcolor);
}

.menus li:hover {
    transform: translateY(-5px);
}

.callus {
    display: flex;
    align-items: center;
    gap: 20px;
}

.call {
    display: flex;
    gap: 10px;
    align-items: center;
}

.callicon {
    font-size: 30px;
    color: var(--hcolor);
}

.call div p {
    font-size: 15px;
    margin-bottom: 5px;
    color: white;
}

.call div a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    transition: .6s ease;
}

.call div a:hover {
    color: var(--hcolor);
}

.callus>a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.callus>a span {
    font-size: 25px;
    color: var(--hcolor);
    transition: .6s ease;
}

.callus>a span:hover {
    transform: scale(1.5);
}

.book-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 13px 30px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    background: var(--hcolor);
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .4s ease;
}

.book-btn span {
    font-size: 20px;
}

.book-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -120%;
    width: 60px;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    transform: skewX(-25deg);
    transition: .6s ease;
}

.book-btn:hover::before {
    left: 120%;
}

.book-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(145, 71, 255, 0.5);
}

.menu-btn {
    display: none;
    font-size: 23px;
    z-index: 1;
    transition: all .6s ease;
    color: var(--hcolor);
}

@media (max-width:1150px) {

    .header {
        justify-content: space-between;
        padding-inline: 20px;
    }

    .navlinks {
        position: absolute;
        top: 0;
        left: 0;
        align-items: flex-start;
        height: 100vh;
        width: 320px;
        background: white;
        padding: 90px 22px;
        transition: all .6s ease;
        transform: translateX(-100%);
        z-index: 1;
    }

    .navlinks.showmenu {
        transform: translateX(0);
    }

    .menus {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 0;

    }

    .menu-btn {
        display: block;
        font-weight: bold;
        color: var(--hcolor);
    }

    .menus li {
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.384);
      
    }

    .menus li:hover {
        background: var(--pcolor);
        color: white;
    }

    .menus .show {
        background: var(--pcolor);
    }

    .menus .active {
        color: white;
    }

    .menus li:hover>a {
        color: white;
    }

    .menus li a {
        width: 100%;
        color: var(--pcolor);
        font-weight: 600;
    }

    .menus a span {
        display: none;
    }

}

@media (max-width:720px) {

    .logoimage img {
        width: 150px;
    }

    .call {
        display: none;
    }

    .book-btn {
        display: none;
    }

    .callus {
        gap: 10px;
    }

    .callus>a span {
        font-size: 23px;
    }

}

/*footer*/


.footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-inline: 15px;
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.808), rgba(41, 0, 63, 0.692), rgba(8, 0, 8, 0.753)), url("./src/footer.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.footer-main {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    max-width: 1300px;
    width: 100%;
    gap: 20px;
    padding-block: 70px;

}

.footer-logocontainer {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    width: 180px;
    margin-bottom: 20px;
}

.footer-logocontainer>p {
    font-size: 15px;
    max-width: 400px;
    line-height: 1.3;
    margin-bottom: 20px;
    color: white;
}

.company-details {
    display: flex;
    gap: 30px;
}

.com-detail p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    text-wrap: nowrap;
    margin-bottom: 5px;
    color: white;
}

.com-detail p span {
    font-size: 20px;
    color: var(--hcolor);
}

.com-detail a {
    text-decoration: none;
    font-size: 14px;
    color: white;
    transition: .5s ease;
}

.com-detail a:hover {
    color: var(--hcolor)
}

.footer1 {
    display: flex;
    flex-direction: column;
}

.footer1 h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: var(--hcolor);
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-links a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    transition: .5s ease;
}

.footer-links a:hover {
    color: var(--hcolor);
}

.footer-newsletter {
    display: flex;
    flex-direction: column;
}

.footer-newsletter h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: var(--hcolor);

}

.footer-newsletter p {
    font-size: 15px;
    line-height: 1.3;
    margin-bottom: 20px;
    max-width: 400px;
    color: white;
}

.footer-form {
    position: relative;
    margin-bottom: 20px;
    max-width: 400px;
}

#footer-email {
    padding: 15px 10px;
    width: 100%;
    background: transparent;
    border: none;
    border-radius: 9px;
    outline: none;
    color: black;
    background: white;
}

#footer-email::placeholder{
    color: rgb(173, 173, 173);
}

#footer-email:focus {
    box-shadow: 1px 1px 14px #603BFE;
}

.subscribe-btn {
    position: absolute;
    right: 5px;
    border: none;
    padding: 10px 20px;
    top: 50%;
    background: black;
    color: white;
    transform: translateY(-50%);
    border-radius: 8px;
}

.subscribe-btn:hover {
    background: var(--hcolor);
    box-shadow: 1px 1px 15px var(--pcolor);
}

.footer-newsletter a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    transition: .5s ease;
}

.footer-newsletter a:hover {
    color: var(--hcolor);
}

.footer-newsletter a span {
    font-size: 20px;
    color: var(--hcolor);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    width: 100%;
    padding-block: 40px;
    border-top: 1px solid rgba(128, 128, 128, 0.342);
}


.footer-bottom p {
    font-size: 15px;
    color: white;
}

.footer-sotial-links {
    display: flex;
    gap: 10px;
}

.footer-sotial-links a {
    font-size: 30px;
    background-color: white;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 7px;
    transition: .6s ease;
}

.footer-sotial-links a:hover {
    transform: rotate(360deg) scale(1.2);
    background: var(--hcolor);
    color: white;

}

@media (max-width:500px) {
    .footer-bottom {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width:1100px) {
    .footer-main {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:700px) {

    .footer-main {
        grid-template-columns: 1fr;
        gap: 40px;
    }
}



/* common hero */

.common-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 60vh;
    background: linear-gradient(125deg,rgba(0, 0, 0, 0.87),rgba(0, 0, 0, 0.404)),url("./src/abt-bg2.webp");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

.common-hero h1{
    font-size: clamp(25px,3.5vw,40px);
    margin-bottom: 15px;
    color: white;
}

.common-hero p{
    font-size: clamp(14px,1.5vw,16px);
    max-width: 600px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 15px;
    color: rgb(204, 204, 204);
}

.common-hero div a{
    text-decoration: none;
}

.common-hero div{
    color: white;
}

.common-hero div a:first-child{
    color: gray;
    font-size: 13px;
}

.common-hero div a:last-child{
    color: var(--hcolor);
    font-size: 16px;
}

